@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center; /*center it from horzontally*/
    justify-content: center; /*center it from vertically*/
    overflow: hidden;
    margin: 0;
}


